@import 'tailwindcss';

:root {
   --background: #ffffff;
   --foreground: #171717;

   /* 
   --bb-dark-a0: #000000;
   --bb-light-a0: #ffffff;

   --bb-primary-a0: #97b9f7;
   --bb-primary-a10: #a4c1f8;
   --bb-primary-a20: #b0c8f9;
   --bb-primary-a30: #bbd0fa;
   --bb-primary-a40: #c7d7fb;
   --bb-primary-a50: #d2dffc;

   --bb-surface-a0: #121212;
   --bb-surface-a10: #282828;
   --bb-surface-a20: #3f3f3f;
   --bb-surface-a30: #575757;
   --bb-surface-a40: #717171;
   --bb-surface-a50: #8b8b8b;

   --bb-surface-tonal-a0: #1e2025;
   --bb-surface-tonal-a10: #333539;
   --bb-surface-tonal-a20: #494b4f;
   --bb-surface-tonal-a30: #606266;
   --bb-surface-tonal-a40: #797a7e;
   --bb-surface-tonal-a50: #929396; */

   /** Base colors */
   --bb-dark-a0: #000000;
   --bb-light-a0: #ffffff;

   /** Theme primary colors */
   --bb-primary-a0: #68eee1;
   --bb-primary-a10: #7ef0e4;
   --bb-primary-a20: #92f2e8;
   --bb-primary-a30: #a4f5eb;
   --bb-primary-a40: #b5f6ee;
   --bb-primary-a50: #c5f8f2;

   /** Theme surface colors */
   --bb-surface-a0: #121212;
   --bb-surface-a10: #282828;
   --bb-surface-a20: #3f3f3f;
   --bb-surface-a30: #575757;
   --bb-surface-a40: #717171;
   --bb-surface-a50: #8b8b8b;

   /** Theme tonal surface colors */
   --bb-surface-tonal-a0: #1c2423;
   --bb-surface-tonal-a10: #313838;
   --bb-surface-tonal-a20: #474e4d;
   --bb-surface-tonal-a30: #5f6564;
   --bb-surface-tonal-a40: #787d7c;
   --bb-surface-tonal-a50: #919595;

   /** Examples */
   .bg-primary {
      color: var(--bb-primary-a50);
      background-color: var(--bb-surface-a0);
   }
}

@theme inline {
   --color-background: var(--background);
   --color-foreground: var(--foreground);
   --font-sans: var(--font-geist-sans);
   --font-mono: var(--font-geist-mono);
}

@layer utilities {
   .clip-square {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
   }
   .clip-circle {
      clip-path: circle(50%);
   }
   .clip-triangle {
      clip-path: polygon(50% 0, 100% 100%, 0 100%);
   }
   .clip-hexagon {
      clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
   }
   .clip-pentagon {
      clip-path: polygon(50% 0, 100% 38%, 82% 100%, 18% 100%, 0 38%);
   }
}

@theme {
   --bg-progress-gradient: linear-gradient(#ca0098 0 0) bottom/100% 0% no-repeat
      #ddd;

   @keyframes progressVertical {
      100% {
         background-size: 100% 115%;
      }
   }

   @keyframes sh1 {
      25% {
         border-radius: 0;
         background: #514b82;
         clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }
      50% {
         border-radius: 0;
         background: #ffa516;
         clip-path: polygon(50% 0, 50% 0, 100% 100%, 0 100%);
      }
      75% {
         /* border-radius: 0; */
         background: #ffa516;
         clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }
   }

   --animate-sh1: sh1 3s infinite ease-in-out;

   --animate-progress-vertical: progressVertical 4s infinite steps(7);
}

@media (prefers-color-scheme: dark) {
   :root {
      /* --background: #0a0a0a;
    --foreground: #ededed; */
      --background: var(--bb-surface-a0);
      --foreground: var(--bb-primary-a0);

      --modal-bg: var(--bb-surface-a10);
   }
}

body {
   background: var(--background);
   color: var(--foreground);
   font-family: Arial, Helvetica, sans-serif;
}
